<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZrK_eTHtgFcOGeJUW-JJByP2lf3Pk7Vk</string>
	<key>BUNDLE_ID</key>
	<string>peter-h-wi.communication-magic</string>
	<key>CLIENT_ID</key>
	<string>157794821826-l7pklrak77dfqsont8ct3vfb1k5vbgnr.apps.googleusercontent.com</string>
	<key>GCM_SENDER_ID</key>
	<string>157794821826</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:157794821826:ios:ef71d68b2adde4aa1b3d5b</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>clinical-communication</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157794821826-l7pklrak77dfqsont8ct3vfb1k5vbgnr</string>
	<key>STORAGE_BUCKET</key>
	<string>clinical-communication.appspot.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
